.modal {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-container h2{
    margin-top: 10px;
    margin-bottom: 30px;
}
.tag{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modal-container {
    justify-content: center;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    position: relative;
}

.close {
    position: absolute;
    font-size: 50px;
    padding-right: 20px;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close:hover {
    color: #000;
    cursor: pointer;
}

.btn-light {
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin: 10px;
}